
.facet_navigation {
    border:1px solid #aaa;
}

div.folder_listing {
    float:left;
    width:70%;
}

div.facets {
    width:20.4em;
    border 1px solid #ddd;
    float:right;
}

div.listing_bottom_navigation {
    clear:both;
}

div.searchfilter {
    width:20em;
    border:1px solid #ddd;
    font-family:Liberation Sans,Arial,Verdana;
}

div.searchfilter h3 { background-color:#666;
    color:#fff;
    font-size:1.4em;
}

div.searchfilter ul {
    padding:0.3em;
}

div.searchfilter ul li {
    list-style-type:none;
    margin:0;
    clear:both;
}

div.searchfilter span.act {
    display:block;
    float:right;
    margin-top:-1.3em;
}

